body {
  background-color: var(--bg);
  color: var(--color);
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

/* -------------- */
/*  Misc          */
/* -------------- */

.container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 3rem 1rem 3rem;
}

.a,
a,
details summary {
  color: var(--link);
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
details summary:hover {
  color: var(--link-hover);
}

img {
  max-width: 100%;
  height: auto;
}

summary {
  padding: 0.25rem;
}

details {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

li {
  margin: 0.3rem 0;
}

/* -------------- */
/* Table          */
/* -------------- */

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 0.375rem 0.75rem;
  text-align: left;
  border-top: 1px solid var(--color-light);
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-light);
}

/* -------------- */
/*  Breadcrumb    */
/* -------------- */

[aria-label='breadcrumb'] ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

[aria-label='breadcrumb'] li:not([aria-current='page'])::after {
  content: '→';
  margin: 0 0.5em;
}

/* -------------- */
/*  Form
/* -------------- */

label {
  font-size: 0.8em;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']),
select {
  width: 100%;
  max-width: 249px;
}

input,
select,
textarea,
button {
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid var(--bg-dark);
  border-radius: 0.25rem;
  margin-bottom: 1em;
}

select,
input[type='checkbox'],
input[type='range'],
input[type='radio'] {
  cursor: pointer;
}

button,
input[type='submit'] {
  cursor: pointer;
  background-color: var(--link);
  color: var(--bg-light);
  padding: 0.375rem 1.75rem;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--link-hover);
}

textarea {
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  vertical-align: middle;
  margin: 0.9rem 0.375rem 0.9rem 0;
}
/*  Total Lines: 138 (with variables and without comments) */
